@tailwind base;
@tailwind components;
@tailwind utilities;

.yellow {
  position: absolute;
  right: 0;
  z-index: -1;
}
html,
body {
  scroll-behavior: smooth;
}

@layer utilities {
  .form-grp {
    @apply flex flex-col  my-3.5;
  }
}
